body {
	font-family: monospace;
	background-color: white;
}

div {
	padding: 10px;
	border-radius: 10px;
}

div h4 {
	color: white;
}

.whole {
	width: 630px;
	margin-right: auto;
	margin-left: auto;
}

.subject {
	background-color: rgb(255, 164, 119);
}

.example {
	background-color: rgb(0, 255, 255);
}

.little_example {
	background-color: rgb(0, 255, 255);
	padding: 1px;
	border-radius: 10px;
}

.howto {
	background-color: white;
}

.howto h4 {
	color: black;
}

table {
	border: 1px solid black;
	
}

td {
		text-align: center;
}

td {
	padding: 5px;
}


.subsubject {
	background-color: rgb(255, 164, 119);
}

.conditional {
	height: 200px;
	width: 320px;
	overflow: hidden;
	background-color: black;
	float: left;
	margin: 10px;
} 

.conditional img {
	position: relative;
	top: -80px;
	left: -190px;
}
